{::nomarkdown}
<div class="hover_wrap">
  <div class="card">
    <div class="card__head">
      <div class="card__image" style="background-image: url({{ "assets/images/hover-image.jpg" | relative_url }} );"></div>
      <div class="card__author">
        <div class="author">
          <img src="{{ "/assets/logo/M_1000.jpg" | relative_url }}" alt="Author of Tobias Reich" class="author__image">
          <div class="author__content">
            <h2 class="author__header">Tired of troubleshooting and integrating common Kubernetes apps together?</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="card__body">
      <h3 class="card__text">We can help you sets up and integrates ningx-ingress, prometheus, external-dns, cert-manager, and more.</h3>
    </div>
    <div class="card__foot">
      <h4 class="card__link"><a class="header center cta-button pulse" href="https://managedkube.com">ManagedKube Website</a></h4>
    </div>
    <div class="card__border"></div>
  </div>
</div>
{:/nomarkdown}