<div class="blue-bg cust-pad-10">
      <!-- <h2 class="header center blue form-header">I'd love your feedback on if my solution solved your problem: Are you still having issues with Kubernetes? </h2>
      
      <a href="/need-help"><div class="button btn">Yes</div></a>
      <a href="/do-not-need-help"><div class="button btn">No</div></a> -->

      <h2 class="header center white form-header cust-line-height">Tired of troubleshooting and integrating common Kubernetes apps together?</h2>
      <h3 class="header center white form-header cust-head">Check out my new open source project that sets up and integrates ningx-ingress, prometheus, external-dns, cert-manager, and more.</h3>
      <h4 class="header center white form-header"><a class="header center cust-button" href="https://github.com/ManagedKube/kubernetes-common-services">Go to Github</a></h4>
      <!--<hr size="30" noshade> -->

</div>
