{::nomarkdown}
<div class="cta">
  <div class="cta-wrap">

  <div class="cta-image"></div>

    <div class="cta-head center">
      <div class="cta-header">
        <div class="content">
          <h2 class="header">Learn more about integrating Kubernetes apps</h2>
        </div>
      </div>
    </div>

<!--     <div class="cta-body">
      <h3 class="cta-text">We can help you sets up and integrates ningx-ingress, prometheus, external-dns, cert-manager, and more.</h3>
    </div>
-->
    <div class="cta-foot">
      <a class="flex-center" href="https://managedkube.com">
        <div class="btn btn-center btn-short btn-highlight">ManagedKube Website</div>
      </a>
    </div>
    <div class="cta-border"></div>
  </div>

</div>
{:/nomarkdown}