<div class="white-bg get-in-touch-today">
	<div class="section">
	  <h1 class="header center blue form-header">Start your free trial and get in touch today!</h1>
		<form class="contact-form" action="https://formspree.io/garlandk@gmail.com" method="POST">
		    <input type="text" name="full_name" placeholder="Full Name">
		    <input type="email" name="_replyto" placeholder="Email Address">
		    <textarea name="message" placeholder="What cloud are you running on?"></textarea>
		    <input type="text" name="_gotcha" style="display:none" />
		    <button type="submit">Submit</button>
		</form>


		<div class="contact_social-media">
			{%- include social.html -%}
		</div>
	</div>
</div>


