<div class="white-bg get-in-touch-today">
	<div class="section">
	  <h1 class="header center blue form-header">Questions? Feedback? Feature suggestion?</h1>
		<form class="contact-form" action="https://formspree.io/amyhwang1218@gmail.com" method="POST">
		    <input type="text" class="names" name="first_name" placeholder="First Name*" required>
		    <input type="text" class="names" name="last_name" placeholder="Last Name*" required>
		    <input type="text" name="company_name" placeholder="Company">
		    <input type="email" name="_replyto" placeholder="Email Address *" required>
		    <textarea name="message" placeholder="How can we help you?"></textarea>
		    <input type="text" name="_gotcha" style="display:none" />
		     <input type='hidden' name='_next' value='/contact-thank-you.html' />
		    <button class="send-email" type="submit">Submit</button>
		</form>

<!-- 
		<div class="contact_social-media">
			{%- include social.html -%}
		</div> -->
	</div>
</div>

<script>
    var contactform =  document.getElementById('formaction');
    contactform.setAttribute('action', '//formspree.io/' + 'amyhwang1218' + '@' + 'gmail' + '.' + 'com');
</script>
