<div class="white-bg get-in-touch-today">
	<div class="section">
	  <h1 class="header center blue">Get in touch today!</h1>
		<form class="contact-form" action="https://formspree.io/garlandk@gmail.com" method="POST">
		    <input type="text" name="full_name" placeholder="Full Name">
		    <!-- <input type="text" name="last_name" placeholder="Last Name"> -->
		    <!-- <input type="text" name="business_name" placeholder="Business Name"> -->
		    <input type="email" name="_replyto" placeholder="Email Address">
		    <textarea name="message" placeholder="How can we help you?"></textarea>
		    <input type="text" name="_gotcha" style="display:none" />
		    <button type="submit">Submit</button>
		</form>

		<div class="contact_social-media">
			{%- include social.html -%}
		</div>
	</div>
</div>