<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <p class="footer-heading">© 2018-2019 ManagedKube</p>

  </div>

  <script type="text/javascript">
    console.log("GA button clicks.");

    $('button').click(function() {
        console.log("clicked: generic button");

        ga('send', {
          hitType: 'event',
          eventCategory: 'buttonClick',
          eventAction: 'Generic-Button-Click',
          eventLabel: 'Generic-Button-Click'
        });
    });

    $('button.bannerContent__subscribeButton').click(function() {
        console.log("MailChimp Subscribe button click");

        ga('send', {
          hitType: 'event',
          eventCategory: 'buttonClick',
          eventAction: 'Mailchimp-subscribe-to-newsletter',
          eventLabel: 'Mailchimp-subscribe-to-newsletter'
        });
    });
  </script>

</footer>
