
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

<script type="text/javascript">

  window.dojoRequire(["mojo/signup-forms/Loader"], function(L) {
    L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"a2f7e25da1ed2fe67295877c7","lid":"4ddd996944","uniqueMethods":true})
  })

  // $('button.bannerContent__subscribeButton').click(function() {
  //     console.log("clicked subscribe: bannerContent__subscribeButton");
  //
  //     ga('send', {
  //       hitType: 'event',
  //       eventCategory: 'Subscribe',
  //       eventAction: 'clicked',
  //       eventLabel: 'Mailchimp subscribed'
  //     });
  // });
  // $('button').click(function() {
  //     console.log("clicked subscribe: generic button");
  //     alert("generic button")
  //
  //     ga('send', {
  //       hitType: 'event',
  //       eventCategory: 'Subscribe',
  //       eventAction: 'clicked',
  //       eventLabel: 'Mailchimp subscribed'
  //     });
  // });
  // console.log("In button script");
</script>
