  <!-- Clients that we’ve worked with -->
  <div class="white-bg clients-weve-worked-with">
    <div class="section tab-slider">
      <h1 class="header center blue">Clients that we’ve worked with</h1>

        <ul class="list-id-tabs" data-tabs>
          <li><a data-tabby-default href="#healthcare" >Healthcare</a></li>
          <li><a href="#saas">SaaS</a></li>
          <li><a href="#data">Data</a></li>
          <li><a href="#payment">Payment Systems</a></li>
        </ul>

      <div id="healthcare">
        <div class="bulk-clients-list-wrapper">
          <div class="bulk-clients-list healthcare">
            <a class="sliding-logo" href="https://www.guardanthealth.com" target="_blank">
              <img src="/assets/images/guardant_health.png" title="guardanthealth" alt="guardanthealth logo">
            </a>
            <a class="sliding-logo" href="https://www.healthtap.com/" target="_blank">
              <img src="/assets/images/health-tap.png" title="HealthTap" alt="HealthTap logo">
            </a>
            <a class="sliding-logo" href="https://vyncahealth.com" target="_blank">
              <img src="/assets/images/vynca.png" title="vynca" alt="vynca logo">
            </a>
            <a class="sliding-logo" href="http://karunalabs.com" target="_blank">
              <img src="/assets/images/karuna.png" title="karunalabs" alt="karunalabs logo" />
            </a>
          </div>
        </div>
      </div>

      <div id="saas">
        <div class="bulk-clients-list-wrapper">
          <div class="bulk-clients-list saas">
            <a class="sliding-logo" href="https://lucidworks.com" target="_blank">
              <img src="/assets/images/lucidworks.png" title="lucidworks" alt="lucidworks logo">
            </a>
            <a class="sliding-logo" href="https://parsable.com" target="_blank">
              <img src="/assets/images/parsable.jpg" title="parsable" alt="parsable logo">
            </a>
            <a class="sliding-logo" href="https://squelch.io" target="_blank">
              <img src="/assets/images/squelch.svg" title="squelch" alt="squelch logo">
            </a>
            <a class="sliding-logo" href="https://oracle.com" target="_blank">
              <img src="/assets/images/oracle.svg" title="oracle" alt="oracle logo">
            </a>
            <a class="sliding-logo" href="https://www.loggly.com" target="_blank">
              <img src="/assets/images/loggly.png" title="loggly" alt="loggly logo">
            </a>
          </div>
        </div>
      </div>

      <div id="data">
        <div class="bulk-clients-list-wrapper">
          <div class="bulk-clients-list data">
            <a class="sliding-logo single-slide2" href="https://www.saturncloud.io" target="_blank">
              <img class="black-bg" src="/assets/images/saturn-cloud.png" title="saturn cloud" alt="saturn cloud logo">
            </a>
            <a class="sliding-logo single-slide2" href="https://www.daimler.com/en/" target="_blank">
              <img src="/assets/images/daimler.svg" title="daimler" alt="daimler logo">
            </a>
          </div>
        </div>
      </div>

      <div id="payment">
        <div class="bulk-clients-list-wrapper">
          <div class="bulk-clients-list payment">

            <a class="sliding-logo single-slide" href="https://www.tillster.com" target="_blank">
              <img src="/assets/images/tillster.png" title="tillster" alt="tillster logo" />
            </a>
            <a class="sliding-logo single-slide" href="https://www.tillster.com" target="_blank">
              <img src="/assets/images/tillster.png" title="tillster" alt="tillster logo" />
            </a>

          </div>
        </div>
      </div>

    </div>
  </div>