.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-wide,.container-xl {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%
}

.container-sm {
    max-width: 670px
}

.container-md {
    max-width: 880px
}

.container,.container-lg {
    max-width: 1040px
}

.container-wide,.container-xl {
    max-width: 1160px
}

@media screen and (min-width: 786px) {
  .header-text{
    padding: 0 6rem;
  }
}

.common-StripeGrid {
    --stripe-height:48px;--content-columns:12;--gutter-columns:4;position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none
}

@media (min-width: 670px) {
    .common-StripeGrid {
        --stripe-height:64px;
    }
}

.common-StripeGrid .backgroundContainer,.common-StripeGrid .stripeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: skewY(8deg);
    transform: skewY(8deg)
}

.common-StripeGrid .backgroundContainer .grid {
    grid-template-columns: 1fr;
    min-width: 0
}

.common-StripeGrid .backgroundContainer {
  overflow: hidden;
  .background {
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: -1
  }
}

.common-StripeGrid .stripeContainer {
    overflow: hidden
}

.common-StripeGrid.anchorBottom .backgroundContainer,.common-StripeGrid.anchorBottom .stripeContainer {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.common-StripeGrid.anchorBottom .grid {
    height: 200%;
    -ms-flex-line-pack: end;
    align-content: end
}

.common-StripeGrid .grid {
    --content-column-width:minmax(0,calc(1040px / var(--content-columns)));--gutter-column-width:1fr;position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fill,var(--stripe-height));
    grid-template-columns: [viewport-start] 1fr [left-gutter-start] repeat(var(--gutter-columns),var(--gutter-column-width)) [left-gutter-end content-start] repeat(var(--content-columns),var(--content-column-width)) [content-end right-gutter-start] repeat(var(--gutter-columns),var(--gutter-column-width)) [right-gutter-end] 1fr [viewport-end]
}

@media (min-width: 1040px) {
    .common-StripeGrid .grid {
        --gutter-column-width:var(--content-column-width);
        min-width: calc(1040px / var(--content-columns) * (var(--gutter-columns) * 2 + var(--content-columns)))
    }
}

.rooted {
    position: relative;
}

@media(min-width: 420px) {
    .rooted {
        padding:80px 0 90px
    }
}

@media(min-width: 670px) {
    .rooted {
        padding:80px 0 100px
    }
}

@media(min-width: 880px) {
    .rooted {
        padding:80px 0 120px
    }
}

@media(min-width: 1040px) {
    .rooted {
        padding:80px 0 160px
    }
}

.rooted-content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-gap: 30px 0;
    gap: 30px 0;
    margin: 35px 0 -60px
}

@media(min-width: 670px) {
    .rooted-content {
        margin:50px 0 -80px;
        grid-template-rows: 1fr;
        grid-template-columns: .55fr .45fr;
        grid-gap: 0 40px;
        gap: 0 40px
    }
}

@media(min-width: 880px) {
    .rooted-content {
        margin:50px 0 -100px;
        grid-gap: 0 85px;
        gap: 0 85px
    }
}

@media(min-width: 1040px) {
    .rooted-content {
        margin:50px 0 -150px;
        grid-gap: 0 150px;
        gap: 0 150px
    }
}

.rooted-pillar {
    position: relative;
    margin: 0 0 30px;
    padding: 0 0 0 45px
}

@media(min-width: 880px) {
    .rooted-pillar {
        margin:0 0 45px;
        padding: 0 0 0 55px
    }
}

.rooted-pillar figure {
    position: absolute;
    top: 3px;
    left: 0
}

.rooted-pillar:last-child {
    margin: 0
}

.rooted-increment {
    position: relative;
    flex-shrink: 0;
    padding: 30px;
    margin-top: 50px
}

@media(min-width: 670px) {
    .rooted-increment {
        padding:40px;
        margin-top: 0
    }
}

.rooted-increment .cover {
    position: relative;
    height: 200px;
    background-color: #fa9a91;
    background-image: url(/assets/compiled/js/../img/increment-callout-v2.jpg);
    background-size: 120%;
    background-position: top;
    margin: -30px -30px 25px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden
}

@media(min-width: 670px) {
    .rooted-increment .cover {
        margin:-40px -40px 25px
    }
}

.rooted-increment .cover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    top: 100%;
    background-color: #fff;
    transform: skewY(8deg);
    transform-origin: 0 0
}

.rooted-increment h2 {
    margin: 0 0 20px;
    color: #32325d
}

.rooted-increment .common-Button--default {
    margin: 25px 0 0
}

.rooted .common-StripeGrid .backgroundContainer .background {
    background-color: $bg-light-blue;
    // background-color: #FF000C
}

.rooted .common-StripeGrid .stripeContainer .stripe:first-child {
    grid-column: viewport-start/span 5;
    grid-row: -3;
    background-color: #424770
}

.rooted .common-StripeGrid .stripeContainer .stripe:nth-child(2) {
    grid-column: 4/span 3;
    grid-row: -2;
    background-color: #c4f0ff
}

.rooted .common-StripeGrid .stripeContainer .stripe:nth-child(3) {
    grid-column: right-gutter-start/span 3;
    grid-row: -4;
    background-color: #6772e5
}

.rooted .common-StripeGrid .stripeContainer .stripe:nth-child(4) {
    grid-column: span 6/viewport-end;
    grid-row: -3;
    background-color: #87bbfd
}

.rooted .common-StripeGrid .stripeContainer .stripe:nth-child(5) {
    grid-column: span 3/-5;
    grid-row: -2;
    background-color: #c4f0ff
}


.position-absolute {
  position: absolute!important;
}
.position-relative {
  position: relative;
}
.d-none {
  display: none !important;
}
.hide {
  opacity: 0 !important;
}
body .homepage {
  scroll-behavior: smooth;
}
/* OVERLAY
=========================== */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 1000;
}
.first {
  background: $text-color-primary;
}
.second {
  background: $text-color-primary;
  left: 33.3%;
}
.third {
  background: $text-color-primary;
  left: 66.6%;
}

.homepage {
  .btn-short {
    display: inline-flex !important;
    padding: .75rem 1rem;
    width: unset !important;
    min-width: unset !important;
  }
  .btn-hero {
    display: block;
  }
  .chevron {
    width: 1.3rem;
    height: 1.3rem;
    align-self: flex-end;
  }
  .header-text-big {
    font-size: 3.5rem;
    font-weight: 600 !important;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .section.first-section-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8rem;
    justify-content: space-between !important;
    align-content: space-around;
    height: unset !important;
    @media (max-width: 930px) {
      padding-top: 1rem;
    }
  }
  .section-half {
    width: 100%;
    p {
      margin-bottom: 2rem;
    }
    @media (min-width: 925px) {
      flex: 0 0 50%;
      align-content: space-around;
      margin: unset !important;
    }
    &.left {
      margin: 3rem 0;
    }
  }
  .left, .right {
    padding: 0 1rem;
  }
  &.first-section {
    height: calc(100vh - 80px);
    overflow: hidden !important;
    position: relative;
    background: url('/assets/svg/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    @media screen and (max-width: 600px) {
      .header-text-big {
        font-size: 1.8rem;
      }
      .section-half.right {
        display: none;
      }
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
    }


    @keyframes floating {
      0% {
          -webkit-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }

      50% {
          -webkit-transform: translate3d(0, 1.5vh, 0);
          -ms-transform: translate3d(0, 1.5vh, 0);
          -moz-transform: translate3d(0, 1.5vh, 0);
          -o-transform: translate3d(0, 1.5vh, 0);
          transform: translate3d(0, 1.5vh, 0)
      }

      100% {
          -webkit-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
    }


    .bubbles-logo {
      position: absolute;
      box-shadow: 0 5px 30px rgba(0,0,0,0.07);
      border-radius: 100%;
      background-color: #fff;
      text-align: center;
      animation-name: floating;
      transform-origin: center bottom;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-duration: 7s;
      animation-fill-mode: both;
      -webkit-animation-name: floating;
      -webkit-transform-origin: center bottom;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-duration: 7s;
      -webkit-animation-fill-mode: both
    }
    .bubbles-logo:nth-child(odd) {
      animation-delay: 2s
    }

    .bubbles-logo:nth-child(1) {
      width: 100px;
      height: 100px;
      line-height: 100px;
      bottom: 0px;
      right: 32px
    }

    .bubbles-logo:nth-child(1) img {
      position: relative;
      left: 0px;
      top: 3px;
      width: 70%;
      height: 70%;
    }

    .bubbles-logo:nth-child(2) {
      line-height: .7;
      bottom: 28%;
      left: 13%;
      img {
        width: 100px;
        height: 100px;
        padding: 14px;
        top: -6px;
        position: relative;
      }
    }

    // azzure grayscale
    .bubbles-logo:nth-child(3) {
      width: 60px;
      height: 60px;
      line-height: 60px;
      bottom: 80%;
      right: 10px;
      padding: 10px;
      img {
        position: relative;
        top: -14px;
        filter: grayscale(1);
      }
    }

    .bubbles-logo:nth-child(4),.bubbles-logo:nth-child(5),.bubbles-logo:nth-child(6) {
      width: 60px;
      height: 60px;
    }

    .bubbles-logo:nth-child(4) {
      top: auto;
      bottom: 10%;
      left: 35%;
      padding: 5px;
      img {
        position: relative;
        top: 2px;
        filter: grayscale(1);
      }
    }

    // aws grayscale
    .bubbles-logo:nth-child(5) {
      bottom: 85%;
      left: 32%;
      padding: 10px;
      filter: grayscale(1);
    }

    .bubbles-logo:nth-child(6) {
      bottom: 40%;
      left: 50%;
      width: 100px;
      height: 100px;
      padding: 8px;
    }

    .bubbles-logo:nth-child(7),.bubbles-logo:nth-child(8),.bubbles-logo:nth-child(9) {
      top: -26%;
      left: 55%;
      width: 100px;
      height: 100px;
      line-height: 100px;
    }

    .bubbles-logo:nth-child(8) {
      top: 34%;
      right: 9%;
      left: auto
    }

    .bubbles-logo:nth-child(9) {
      bottom: -15%;
      right: 16%;
      left: auto;
      top: auto
    }

    @media only screen and (max-width: 991.98px) {
        .bubbles {
          height:261px;
          margin-bottom: 130px;
          position: relative;
          margin-top: 20px
        }
    }
  }
}


// Section intro
.homepage {
  .section-intro {
      text-align: center
  }
  .section-intro .common-SectionTitle {
      margin: 0 0 18px
  }
  @media(min-width: 670px) {
      .section-intro .common-SectionTitle {
          margin:25px 0 18px
      }
  }
  .section-intro .common-IntroText {
      max-width: 800px;
      margin: 0 auto
  }
}

// card with icon section / Benefit section
.homepage {
  .fw-normal { font-weight: normal; }
  .fw-light { font-weight: lighter; }
  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.2); }
  p {
    font-weight: 300;
    line-height: 40px;
  }
  .header {
    font-weight: normal;
    @media screen and (max-width: 600px) {
      margin-bottom: 30px;
    }
  }
  .section.section-intro { padding-top: 0; }
  &.mt-12, .mt-12 { margin-top: 12rem; }
  .mt-4 { margin-top: 4rem; }
  &.blue-bg { background-color: unset; }

  &.benefits h4 { margin-bottom: .5rem }
  &.benefits .box-wrapper { margin-bottom: unset }
  &.benefits .box {

    width: 325px;
    padding: 14px;
    &:hover svg {
      transform: scale(1.2);
    }
    &.box-shadow {
    border-width: 0;
    box-shadow: 0 12px 15px rgba(140,152,164,.1);
    border-radius: 8px;
    border-width: 0;
    }
    h2 {
      letter-spacing: -0.1rem;
      margin-bottom: 1rem;
    }
    .text {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
      &.center {
        line-height: 32px;
      }
    }
    .box_img-wrapper {
      height: unset;
        @media screen and (min-width: 600px) and (max-width: 800px) {
          height: 140px;
        }
      svg {
        width: 80px; height:80px;
        // transition: all .2s ease-in-out;
        position: relative;
        top: 35px;
        opacity: 0;
      }
    }
    svg {
      height: 100%;
      width: auto;
    }
    &:hover {
      .text {
        color: $text-color-primary;
      }
    }
  }

}


// Production-grade-section
.homepage {
  ul.number-list {
    margin-top: 1.5rem;
    li {
      line-height: 40px;
      display: flex;
      align-items: flex-start;
      list-style-type:none ;
      font-weight: lighter;
      align-items: center;
      color: white;
    }
  }
  .numberCircle {
    background-color: #fff;
  }
  .production-grade {
    h1, p, ul li {
      color: white;
    }
  }
}

.numberCircle {
  display: inline-flex;
  flex-shrink: 0;
  font-size: 21px;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 50%;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  margin-right: .8rem;
  color: $text-color-primary;
  background: rgba(45,21,130,.1);
}

.bg-primary {
  background-color: $bg-light-blue;
}

.homepage {
  .client-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
    }
  }

  .client-list_img-wrapper {
    max-width: 240px;
    width: 100%;
    height: 100%;
    flex-basis: 23%;
    img {
      width: 100%;
      height: auto;
    }
    .limit-size {
      max-width: 140px;
    }
    @media screen and (max-width: 600px) {
      flex-basis: 45%;
      margin-bottom: 48px;
      &:last-of-type img {
        margin-top: 2rem;
      }
    }
    @media screen and (max-width: 400px) {
      flex-basis: 100%;
      margin-bottom: 24px;
      &:not(:first-of-type) img {
        margin-top: 2rem;
      }
      &:first-of-type img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  .border-top {
    border-top: 2px solid #f0f7ff;
  }
}

// Pricing Section
.homepage .pricing {
  .price-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    .price-card {
      flex: 0 0 30%;
      margin: 0 auto;
      min-width: 340px;
      border: solid 1px rgba(0,0,0,.1);
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0.625rem 3.4375rem 0 rgba(102,102,102,.1);
      min-height: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-flow: column nowrap;
      margin-bottom: 1rem;
      -webkit-transition: color .1s ease;
      transition: all 250ms ease;
      &:hover {
        box-shadow: 0 0.625rem 3.4375rem 0 rgba(46, 33, 242, 0.6);
      }
      @media screen and (max-width: 850px) {
        min-width: 100%;
      }
      &.blue-highlight {
        background-color: #326CE5;
        h2,li p, .price-section > p { color: white; }
        .header-section, .price-section {
          border-bottom: solid 1px rgba(246, 238, 238, 0.19);
        }
        li.price-body-text {
          filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(428%) hue-rotate(13deg) brightness(104%) contrast(101%);
        }
      }
      .header-section {
        padding: 1.5rem;
        border-bottom: solid 1px rgba(0,0,0,.1);
        position: relative;
      }
      .body-section {
        flex: 1 1 auto;
        padding: 1.5rem;
        .list-text {
          letter-spacing: -.05em;
          font-size: 18px;
          line-height: 2;
        }
        p.center {
          margin: 1.5rem 0;
        }
      }
      .price-section {
        border-bottom: solid 1px rgba(0,0,0,.1);
        padding-bottom: 1rem;
        .price-value {
          font-weight: 700;
          letter-spacing: -.02em;
          font-size: 3rem;
          line-height: 1;
        }
      }
      .footer-section {
        padding: 1.5rem;
        .btn {
          margin: unset;
        }
      }
      @media screen and (min-width: 330px) {
        .price-body-text {
          background-image:url(/assets/svg/checkmark.svg);
          background-repeat: no-repeat;
          background-size: 1.25rem 1.25rem;
          background-position: 0 8px;
          padding-left: 2rem;
          display: flex;
          align-items: flex-start;
          list-style-type:none ;
          font-weight: lighter;
          align-items: center;
          @media screen and (max-width: 720px) {
            background-position: 0 2px;
          }
        }
      }
    }
  }
}
// attribution
.homepage {
  .attribution {
    h1 {
      color: white;
    }
    @media screen and (min-width: 1599px) {
      ul.number-list {
        margin-top: unset;
      }
    }
  }
}

.homepage {
  h1,h2,h3,h4,h5,h6,p { color: $text-color-primary; }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 0;
    background-color: #326CE5;
    height: 48px;
    font-size: 18px;
    color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.02);
    transition: all 250ms ease;
    text-decoration: none;
    width: 25%;
    min-width: 260px;
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 4px 12px rgba(0,0,0,.1);
      background-color: #326ce5e3;
    }
    &.btn-wide {
      width: 100%;
    }
    &.btn-center {
      margin: 0 auto;
    }
    &.btn-highlight {
      color: $text-color-primary;
      background-color: #FFF;
      &:hover { box-shadow: 0 4px 12px rgba(255, 255, 255, 0.35); }
    }
  }
  @media screen and (max-width: 600px) {
    .header-text {
      &.mt-4 {
        margin-top: 2rem;
      }
    }
  }
  .custom-card {
    display: flex;
    flex-direction: column;
    .number-list {
      letter-spacing: -.04em;
    }
    svg.big {
      height: 220px;
      width: 220px;
      align-self: center;
      position: absolute;
      left: -250px;
      @media screen and (max-width: 1600px) {
        display: none;
      }
    }
    svg.small {
      margin: 0 auto;
      height: 50px;
      width: 50px;
      @media screen and (min-width: 601px) {
        margin-top: -20px;
      }
      @media screen and (min-width: 1599px) {
        display: none;
      }
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 583px) {
      flex-wrap: wrap;
      a:last-child {
        margin-top: 1rem;
      }
    }

  }
}

