.cta {
  margin: 3rem 0;

  &-foot {
    margin: 1rem;
  }

  &-head {
    // margin: -1rem -1rem 0;
  }
  &-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/svg/cta-bg.svg");
  }
  &-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #333 !important;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    z-index: 1;
    border-radius: 150px;
    background-color: $blue;
    @media (max-width: 767px) {
      border-radius: 50px;
    }
  }

  .btn-short {
    display: inline-flex !important;
    padding: .75rem 1rem;
    width: unset !important;
    min-width: unset !important;
  }
  .header {
    margin-bottom: 30px;
    color: white !important;
    margin-top: 15px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}