/**
 * Site header
 */

@media screen and (max-width: 600px) {
  body.nav-open {
    overflow: hidden;
  }
}
.site-header {
  z-index: 999;
  position: relative;
}

.site-title {
  // font-size: 30px;
  // font-weight: 500;
  // letter-spacing: -1px;
  height: 70px;
  width: auto;
  margin-bottom: 0;
  float: left;
  @media screen and (max-width: 600px) {
    height: 52px;
  }
  &:hover {
    color: $blue-hover;
  }

  &,
  &:visited {
    color: $blue;
  }
}

.site-nav {
  float: right;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    font-size: 18px;
    transition: color .4s ease;
    &:hover {
      color: $blue;
    }
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .page-linkactive {
    font-size: 18px;
      color: $blue;
    // &:hover {
    // }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (max-width: 980px) {
    position: absolute;
    right: 24px;
    top: 22px;
    background-color: $white;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $blue;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding: 36px;
      position: absolute;
      left: calc(-100vw + 60px);
      top: 52px;
      width: 100vw;
      height: 300px;
      background-color: #fff;
    }

    .page-link, .page-linkactive {
      display: block;
      padding: 12px 10px;
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: 600px) {
    input:checked ~ .trigger {
      // left: 0;
      // top: 80px;
      width: 100vw;
      height: calc(100vh - 52px);
      padding: 10vh 36px;
    }
    .page-link, .page-linkactive {
      font-size: 24px;
      padding-top: calc(((80vh - 80px) - 120px) / 10);
      padding-bottom: calc(((80vh - 80px) - 120px) / 10);
    }
  }

  @media screen and (max-width: 600px) {
    .page-link, .page-linkactive {
      font-size: 24px;
      padding-top: calc(((80vh - 80px) - 144px) / 10);
      padding-bottom: calc(((80vh - 80px) - 144px) / 10);
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  background-color: $blue;
  height: 40px;
  padding: 12px 0;
}

.footer-heading {
  background-color: $blue;
  font-size: 16px;
  text-align: center;
  color: $white;
  font-weight: 300;
}

// .contact-list,
// .social-media-list {
//   list-style: none;
//   margin-left: 0;
// }

// .footer-col-wrapper {
//   @include relative-font-size(0.9375);
//   color: $white;
//   @extend %clearfix;
// }


.center {
  text-align: center;
}

.left {
  text-align: left;
  @media screen and (max-width: 600px) {
    text-align: center
  }
}

.right {
  text-align: right;
  @media screen and (max-width: 600px) {
    text-align: center
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.header {
  font-family: $header-font-size;
  font-weight: $header-font-weight;
  margin-bottom: 60px;
  @media screen and (min-width: 720px) {
    line-height: 54px;
  }
  @media screen and (max-width: 720px) {
      font: $header-font-weight $header-tablet-font-size $base-font-family;
  }
  @media screen and (max-width: 600px) {
      font: $header-font-weight $header-mobile-font-size $base-font-family;
      margin-bottom: 24px;
  }
}

.blue {
  color: $blue;
}

.white {
  color: $white;
}

.black {
  color: $text-color;
}

.text {
  font-family: $base-font-size;
    @media screen and (max-width: 720px) {
      font: $base-font-weight $base-tablet-font-size $base-font-family;
  }
  @media screen and (max-width: 600px) {
      font: $base-font-weight $base-mobile-font-size $base-font-family;
  }
}

// .footer-col {
//   float: left;
//   margin-bottom: $spacing-unit / 2;
//   padding-left: $spacing-unit / 2;
// }

// .footer-col-1 {
//   width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//   width:         calc(35% - (#{$spacing-unit} / 2));
// }

// .footer-col-2 {
//   width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//   width:         calc(20% - (#{$spacing-unit} / 2));
// }

// .footer-col-3 {
//   width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//   width:         calc(45% - (#{$spacing-unit} / 2));
// }

// @include media-query($on-laptop) {
//   .footer-col-1,
//   .footer-col-2 {
//     width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//     width:         calc(50% - (#{$spacing-unit} / 2));
//   }

//   .footer-col-3 {
//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//     width:         calc(100% - (#{$spacing-unit} / 2));
//   }
// }

// @include media-query($on-palm) {
//   .footer-col {
//     float: none;
//     width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//     width:         calc(100% - (#{$spacing-unit} / 2));
//   }
// }


/**
 * home content
 */
.banner {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-image: url('/assets/images/banner-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .section {
    min-height: calc(100vh - 120px);
    @media screen and (max-width: 1080px) {
      padding: 0 24px;
    }

  }
}

.banner-text {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 60px;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: rgba(74,74,74,.25);
  @media screen and (max-width: 500px) {
    padding: 20px;
    width: 90%;
  }
}

.banner-heading {
  color: $white;
  font-size: $banner-font-size;
  font-weight: $header-font-weight;
  line-height: $banner-font-size * 1.2;
  @media screen and (max-width: 600px) {
    font-size: $banner-mobile-font-size;
    line-height: $banner-mobile-font-size * 1.2;
  }
  @media screen and (max-width: 500px) {
    font-size: 23px;
  }
}

.banner-subheading {
  color: $white;
  font-family: $serif-font-family;
  font-size: 24px;
  margin-top: 60px;
  line-height: 32px;
  @media screen and (max-width: 600px) {
    font-size: 22px;
  }
  @media screen and (max-width: 500px) {
    font-size: 18px;
    margin-top: 24px;
  }
}

.kubernetes-cost-attribution {
    @media screen and (max-width: 600px) {
      .banner-heading {
        font-size: 20px;
        line-height: 26px;
      }
      .banner-subheading {
        font-size: 14px;
        line-height: 20px;
      }
      .banner-container {
        margin-bottom: 0;
      }
    }
}

.banner-container {
  background: rgba(255,255,255,.4);
  width: 100%;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  .application {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  @media screen and (max-width: 600px) {
      padding: 0;
      .application {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
  }
}


.p-div_wrapper {
  display: flex;
  justify: center;
  @media screen and (max-width: 720px) {
    display: block;
    .display-on-mobile {
      display: block;
    }
  }
}

.p-div_wrapper-top {
  border-bottom: $light-blue solid 2px;
  @media screen and (max-width: 720px) {
    border-bottom: 0;
  }
}

.p-div {
  width: 50%;
  padding: 48px 24px;
  text-align: center;
  &:nth-of-type(odd) {
    border-right: $light-blue solid 2px;
  }
  @media screen and (max-width: 720px) {
    width: 100%;
    &:nth-of-type(odd) {
      border-right: 0;
    }
    .display-on-mobile {
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    padding: 24px 24px;
  }
}

.p-div_img-wrapper {
  max-height: 200px;
  height: 18vw;
  width: auto;
  margin-bottom: 24px;
  @media screen and (max-width: 720px) {
    height: 35vw;
  }
}

img {
  height: 100%;
}

.box-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  @media screen and (max-width: 900px) {
    display: block;
    a {
      width: 100%;
    }
  }
  @media screen and (max-width: 660px) {
    margin-bottom: 0;
  }
}


.box {
  width: 320px;
  padding: 24px;
  box-shadow: 1px 1px 2px 1px $text-color;
  transition: box-shadow .4s ease;
  @media screen and (max-width: 1040px) {
    padding: 24px 30px;
  }
  @media screen and (max-width: 900px) {
    display: flex;
    align-items: center;
    padding: 24px;
    width: 100%;
    margin-bottom: 36px;
    // height: 104px;
    .text {
      text-align: left;
    }
  }
  &:hover {
    box-shadow: none;
    .text {
      color: $text-color-hover;
      transition: color .4s ease;
    }
  }
}


.box_img-wrapper {
  margin-bottom: 24px;
  text-align: center;
  @media screen and (max-width: 900px) {
    padding-right: 24px;
    margin-bottom: 0;
  }
}


.client-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.client-list_img-wrapper {
    max-width: 240px;
    width: 100%;
    height: 100%;
    flex-basis: 23%;
    img {
      width: 100%;
      height: auto;
    }
    @media screen and (max-width: 600px) {
      flex-basis: 45%;
      margin-bottom: 48px;
    }
    @media screen and (max-width: 330px) {
      flex-basis: 45%;
      margin-bottom: 24px;
    }
}

.contact .get-in-touch-today {
  min-height: calc(100vh - 120px);
  position: relative;
  .section {
    padding: 60px 24px;
    position: absolute;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-height: 600px) {
      position: static;
      left: auto;
      top: auto;
      transform: translate(0,0);
    }
  }
}

.contact-form {
  margin: auto;
  width: 100%;

    @media screen and (min-width: 660px) {
      width: 600px;
      .two-columns {
        display: flex;
        justify-content: space-between;
      }
  }
}
.contact-form input {
  width: 100%;
  display: block;
  height: 48px;
  padding: 16px;
  font-size: 18px;
  color: $text-color;
  margin: 0px 0 16px;
  border: $blue solid 1px;

  &:focus, &:active {
    outline-width: 0;
    outline-offset: 0px;
    outline-style: none;
    outline-color: transparent;
  }

  @media screen and (min-width: 660px) {
    &.names {
    width: 49%;
    float: left;
  }
    &[name="first_name"] {
      margin-right: 2%;
    }
  }

}

@media screen and (max-width: 660px) {

    .contact-form .two-columns input:nth-of-type(odd) {
      margin-bottom: 20px !important;
    }
  }

.contact-form textarea {
  border: $blue solid 1px;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  color: $text-color;
  min-height: 200px;
  margin-bottom: 18px;
  &:focus, &:active {
    outline-width: 0;
    outline-offset: 0px;
    outline-style: none;
    outline-color: transparent;
  }
}

.contact-form button, .button, input[type="reset"], input[type="submit"] {
  border: 0;
  background-color: $blue;
  width: 100%;
  height: 48px;
  font-size: 18px;
  color: $white;
  box-shadow: 2px 2px 4px #666;
  transition: all .4s ease;
  border-radius: 6px;

  &:focus, &:active {
    outline-width: 0;
    outline-offset: 0px;
    outline-style: none;
    outline-color: transparent;
  }
  &:hover {
    box-shadow: none;
    cursor: pointer;
    // background-color: $blue-hover
  }

  @media screen and (min-width: 600px) {
    width: 25%;
    min-width: 240px;
    float: right;
  }
}

input[type="reset"], input[type="submit"] {
    @media screen and (min-width: 600px) {
      width: 100%;
      min-width: 240px;
      float: none;
    }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #444;
  @media screen and (min-width: 320px) {
    width: 25%;
    min-width: 260px;
    margin: 12px auto 0;
    float: none;
  }
}

.benefits .button {
  background-color: white;
  color: $blue;
  &:hover {
    // background-color: rgba(255,255,255,.8);
    color: $blue;
  }
}
.home-form .get-in-touch-today {
  min-height: 0;
  background-color: #fff;
}
.home-form .get-in-touch-today .section {
  padding-top: 0;
  padding-bottom: 0;
  position: static;
  transform: none;
  padding: 0;
}
.home-form .form-header {
  // display: none;
}

.contact_social-media {
  clear: right;
  padding-top: 60px;
  text-align: center;
  a:hover {
    .username {
      text-decoration: none;
      color: $blue-hover;
    }
  }
  .username {
    font-size: 36px;
    font-weight: 700;
    transition: color .4s ease;
    padding: 3px 0;
    vertical-align: middle;
    @media screen and (max-width: 440px) {
      padding: 6px 0;
    }
    @media screen and (max-width: 330px) {
      font-size: 30px;
      padding: 9px 0;
    }
  }
  .svg-icon {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    @media screen and (max-width: 440px) {
      width: 40px;
      height: 40px;
    }
    @media screen and (max-width: 330px) {
      width: 36px;
      height: 36px;
    }
  }
}

.social-media-list {
  list-style: none;
}


/**
 * devops consulting content
 */


.why-devops-services {
  @media screen and (max-width: 600px) {
    .display-on-mobile {
      display: block;
    }
  }
}

.reason {
padding: 0 60px;
margin-bottom: 24px;
display: flex;
align-items: center;
justify-content: space-between;
&:nth-of-type(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 600px) {
  display: block;
  padding: 24px 24px;
  margin-bottom: 0;
}
}

.reason_img-wrapper {
  width: 160px;
  height: auto;
  svg {
    width: 160px;
    height: auto;
  }
@media screen and (max-width: 720px) {
  width: 120px;
  height: auto;
  svg {
    width: 120px;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  margin: auto;
  margin-bottom: 24px;
}
}

.reason_text_left {
  padding-left: 24px;
  max-width: calc(100vw - 280px);
  @media screen and (max-width: 720px) {
    max-width: calc(100vw - 240px);
  }
  @media screen and (max-width: 600px) {
    padding-left: 0;
    max-width: 100%;
  }
}

.reason_text_right {
  padding-right: 24px;
  max-width: calc(100vw - 280px);
  @media screen and (max-width: 720px) {
    max-width: calc(100vw - 240px);
  }
  @media screen and (max-width: 600px) {
    padding-right: 0;
    max-width: 100%;
  }
}

.we-do-it-all .header {
  margin-bottom: 24px;
}

.we-do-it-all .subheader {
  margin-bottom: 48px;
  font-size: 28px;
  @media screen and (max-width: 720px) {
    font-size: 22px;
  }
  @media screen and (max-width: 600px) {
    font-size: 20px;
  }
}

.we-do-it-all .box-wrapper {
  @media screen and (max-width: 900px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 440px) {
    display: block;
    .display-on-mobile {
      display: block;
    }
  }
}

.we-do-it-all .box {
  box-shadow: none;
  @media screen and (max-width: 900px) {
    display: block;
    flex-basis: 44%;
    .box_img-wrapper {
      padding-right: 0;
      margin-bottom: 24px;
    }
    .text {
      text-align: center;
    }
  }
  @media screen and (max-width: 440px) {
    margin-bottom: 0;
  }
  &:hover {
    .text {
      color: $white;
    }
  }
}

.box_img-wrapper svg {
    @media screen and (max-width: 440px) {
      width: 72px;
      height: auto;
    }
}

.benefits .section {
  padding: 96px 0 72px;
  @media screen and (max-width: 600px) {
    padding: 32px 12px
  }
}

.benefits .box-wrapper {
  @media screen and (max-width: 900px) {
    display: flex;
  }
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.benefits .box {
  box-shadow: none;
  .text {
    font-size: 21px;
    line-height: 24px;
  }
  .box_img-wrapper {
    height: 180px;
      @media screen and (min-width: 600px) and (max-width: 800px) {
        height: 140px;
      }
  }
  svg {
    height: 100%;
    width: auto;
  }

  &:hover {
    .text {
      color: $white;
    }
  }
  @media screen and (max-width: 900px) {
    display: block;
    width: 300px;
    padding: 24px 12px;

    .box_img-wrapper {
      padding-right: 0;
      margin-bottom: 24px;
    }
    .text {
      text-align: center;
    }
  }
  @media screen and (max-width: 786x) {
    padding: 24px;
  }
  @media screen and (max-width: 600px) {
    margin: auto;
    margin-bottom: 36px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.kubernetes-cost-attribution .banner .section {
  min-height: calc(100vh - 80px);
}

// .kubernetes-cost-attribution .banner-text {
//   padding: 36px 60px;
// }

.kubernetes-cost-attribution .banner-subheading {
  margin-top: 24px;
}

.cost-att .client-list {
  justify-content: center;
  .client-list_img-wrapper {
    margin: 0 60px;
      @media screen and (max-width: 786px) {
        margin: 0 36px;
      }
      @media screen and (max-width: 786px) {
        margin-bottom: 24px;
      }
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

// .compare:first-of-type {
//   margin-bottom: 60px;
//   @media screen and (max-width: 600px) {
//     margin-bottom: 48px;
//   }
// }
.compare p {
  max-width: 960px;
  margin-bottom: 24px;
}
.compare img {
  height: auto;
  width: 100%
}

.compare_image-wrapper {
  display: block;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.compare_image-wrapper-mobile {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
  }
}


/**
 * savings for you
 */
.savings-for-you {
  background-image: url("/assets/images/savingsforyou.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 720px) {
    h2.subheader {
      font-size: $header-tablet-font-size;
    }
  }
  @media screen and (max-width: 600px) {
    h2.subheader {
      font-size: $header-mobile-font-size;
    }
  }
}

.text-box {
  background-color: $light-blue-bg;
  padding: 60px;
  @media screen and (max-width: 1090px) {
    margin: 0 60px
  }
  @media screen and (max-width: 600px) {
    padding: 48px 20px;
    margin: 0;
  }
}

/**
 * clients we've worked with
 */

.bulk-clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 1090px) {
    margin: 0 60px
  }
  @media screen and (max-width: 824px) {
    max-width: 488px;
    margin: auto;
  }
  @media screen and (max-width: 440px) {
    justify-content: center;
  }
}
.tab-slider {
  .sliding-logo.slick-slide, .sliding-logo.slick-list,{
    height: auto;
    width: 210px;
    min-height: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
    outline: none;
    img:focus { outline: none; }
    &.single-slide {
      padding: 0 10%;
    }
  }
}

.client_logo {
  flex-basis: 25%;
  margin-bottom: 48px;
  max-width: 220px;
  height: auto;
  padding: 0 15px;
    img {
      width: 100%;
      height: auto;
    }

  &:last-of-type {
    margin-bottom: 0;
  }
  @media screen and (max-width: 1044px) {
    max-width: 220px;
  }
  @media screen and (max-width: 824px) {
    flex-basis: 50%;

    &:nth-of-type(odd){
      padding: 0;
      padding-right: 24px;
    }
    &:nth-of-type(even){
      padding: 0;
      padding-left: 24px;
    }
  }
  @media screen and (max-width: 440px) {
    flex-basis: 100%;
    &:nth-of-type(odd){
      padding-left: 0;
      padding-right: 0;
    }
    &:nth-of-type(even){
      padding-left: 0;
      padding-right: 0;
    }
  }
}


/**
 * managed kube
 */
.content-with-image {
  display: flex;
  align-items: center;
  @media screen and (max-width: 1080px) {
    padding: 0 36px;
  }
  @media screen and (max-width: 600px) {
    padding: 0;
    display: block;
    margin: auto;
  }
}

.content-with-image.provide {
  flex-direction: row-reverse;

}

.content_img-wrapper {
  @media screen and (max-width: 1000px) {
    max-width: 280px;
    svg {
      width: 280px;
    }
  }
  @media screen and (max-width: 720px) {
    max-width: 200px;
    svg {
      width: 200px;
    }
  }
  @media screen and (max-width: 600px) {
    max-width: 120px;
    margin: auto;
    margin-bottom: 24px;
    svg {
      width: 120px;
      height: auto;
    }
  }
}

.content_text {
  margin-left: 60px;
  @media screen and (max-width: 600px) {
    list-style: none;
    margin-left: 0;
    margin: auto;
    padding: 0 60px;
    .display-on-mobile {
      display: block;
    }
  }
  @media screen and (max-width: 440px) {
    padding: 0 24px;
  }
  li {
    margin-bottom: 48px;
    @media screen and (max-width: 600px) {
      margin-bottom: 0;
      padding: 24px 0;
    }
  }
}

.content_text.provide-text {
  margin-left: 0;
  margin-right: 48px;
  @media screen and (max-width: 600px) {
    margin-right: 0;
  }
}

.why-not {
  background-image: url("/assets/images/why-not.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .header {
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 600px) and (max-width: 720px) {
      width: 75%
    }
  }
}

.install-buttons {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 600px) {
    display: block;
  }
  .install-btn {
    flex-basis: 50%;
    margin: 0 auto;
    max-width: 420px;
  }
  svg {
      transition: .4s ease;
      min-width: 240px;
      width: 60%;
      height: auto;
      display: block;
      margin: 0 auto 36px;
      background-color: $blue;
      box-shadow: 2px 2px 4px #444;
      border-radius: 100%;
      transition: .4s ease;
  }

  // h4, #command-line_ns #path4514, #marketplace_ns #path4514 {
  //   }
  @media screen and (max-width: 600px) {
    display: block;
    .install-btn {
      margin-bottom: 60px;
    }
  }
}

.banner-subheading a {
  transition: .4s ease;
  font-weight: 900;
  color: #8AABEF;
}

.install-btn .button {
  min-width: 360px;
  @media screen and (max-width: 600px) {
    min-width: 100%;

  }
}

.banner-subheading a:hover {
    color: $blue-hover;
}

.install-btn:hover {
  // #command-line_ns #path4514, #marketplace_ns #path4514 {
  //   fill: rgba(50, 108, 229, 0.8);
  // }
  svg {
    box-shadow: none;
  }
  h4 {
    color: rgba(50, 108, 229, 0.8);
  }
}

.apps .header {
 margin-bottom: 24px;

}

.apps .subheader {
  margin-bottom: 60px;
  font-size: 24 px;
  padding: 0 90px;
  @media screen and (max-width: 720px) {
    font-size: 22px;
    padding: 0 60px;
  }
  @media screen and (max-width: 600px) {
    font-size: 20px;
    padding: 0 20px;
  }
}

.apps_features {
  margin-bottom: 60px;
}

.apps_features_list {
  text-align: center;
  list-style-position: inside;
  li {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 600px) {
    list-style: none;
    .display-on-mobile {
      display: block;
    }
    li {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
}

.apps_logos {
  .text {
    font-size: 20px;
  }
}
// .apps_logos_list {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: center;
//   @media screen and (max-width: 412px) {
//     justify-content: center;
//   }
// }

// .apps_logo {
//   margin-bottom: 48px;
//   max-width: 180px;
//   height: auto;
//   padding: 0 20px;
// }


.apps_logos_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 48px;
  @media screen and (max-width: 1090px) {
    margin: 0 60px 48px;
  }
  @media screen and (max-width: 800px) {
    max-width: 448px;
    margin:auto;
  }
  @media screen and (max-width: 440px) {
    justify-content: center;
  }
}

.apps_logo{
  // flex-basis: 25%;
  margin-bottom: 48px;
  max-width: 220px;
  height: auto;
  padding: 0 15px;
  img {
    width: 100%;
    height: auto;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  @media screen and (max-width: 1044px) {
    max-width: 220px;
  }
  @media screen and (max-width: 768px) {
    flex-basis: 50%;
    &:nth-of-type(odd){
      padding: 0;
      padding-right: 24px;
    }
    &:nth-of-type(even){
      padding: 0;
      padding-left: 24px;
    }
  }
  @media screen and (max-width: 440px) {
    flex-basis: 100%;
    &:nth-of-type(odd){
      padding-left: 0;
      padding-right: 0;
    }
    &:nth-of-type(even){
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/**
 * install on gke
 */
// #contact-form, .get-in-touch-today {
//   min-height: 0;
//   height: auto;
//   position: static;
// }
// #contact-form h1 {
//   display: none;
//   &.section-header {
//     display: block;
//   }
// }

.google-cloud-button img {
  border-radius: 6px;
  box-shadow: 2px 2px 4px #444;
  transition: .4s ease;
  margin-top: 40px;
  height: auto;
  &:hover {
    box-shadow: none;
  }
}

.steps .section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 980px) {
     max-width: 720px
  }
  .step {
    flex-basis: calc(50% - 24px);
    margin-bottom: 48px;
    @media screen and (max-width: 980px) {
      flex-basis: 100%;
    }
    img {
      width: 100%;
      height: auto;
      box-shadow: 0px 0px 4px #666;
      border-radius: 4px;
    }
  }
}

.steps h1 {
  display: inline-block;
}


.step.three p, .step.four p {
  min-height: 78px
}

@media screen and (max-width: 1080px) {
  .step.seven p, .step.eight p {
    min-height: 78px
  }
}

.steps p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 26px;
  // width: 80%;
  min-height: 52px;
  @media screen and (max-width: 980px) {
    min-height: 0 !important;
  }
}

.blue-circle {
  background-color: $blue;
  padding: 16px;
  padding-left: 19px;
  width: 64px;
  border-radius: 100%;
  @media screen and (max-width: 720px) {
    padding: 8px 16px;
    padding-left: 21px;
  }
}




/**
 * Devops Infrastructure
 */

.deveops-infrastructure .banner-text {
  @media screen and (max-width: 840px) {
    width: 90%;
    padding: 48px;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
    padding: 20px;
  }
}

.infrastructure-content {
  margin: auto;
  padding: 0 60px;
  @media screen and (max-width: 600px) {
    padding: 0;
  }
}

.infrastructure-img-wrapper {
  padding-left: 48px;
  padding-bottom: 48px;
  @media screen and (max-width: 770px) {
    text-align: center;
    float: none;
    padding: 0;
  }
}

.infrastructure-text {
  .header {
    margin: 24px 0;
    font-weight: 500;
    @media screen and (max-width: 600px) {
      text-align: center;
      margin-top: 60px;
      margin-bottom: 0;
    }
  }
  p {
    margin-left: 24px;
    margin-bottom: 12px;
    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }
  .display-on-mobile {
    @media screen and (max-width: 600px) {
     display: block;
   }
  }
  li {
    list-style-position: inside;
    margin-left: 48px;
    margin-bottom: 24px;
    @media screen and (max-width: 600px) {
      text-align: center;
      margin-left: 0;
      list-style: none;
      li:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  > ul > li {
    @media screen and (max-width: 600px) {
      margin-bottom: 0;
      padding: 24px;
    }
  }
}

 .cicd-img-wrapper {
  margin: auto;
  max-width: 480px;
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
  img {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 600px) {
    max-width: 300px;
  }
 }

 .cicd-list {
    list-style-position: inside;
    text-align: center;
    li {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 1080px) {
      padding: 0 60px;
    }
    @media screen and (max-width: 600px) {
      padding: 0;
      list-style: none;
      li {
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .display-on-mobile {
        display: block;
      }
    }
 }

.di_content {
  padding: 0 60px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    display: block;
    padding: 24px 24px;
    margin-bottom: 0;
  }
}

.di_content-reverse {
  padding: 0 60px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  @media screen and (max-width: 600px) {
    display: block;
    padding: 24px 24px;
    margin-bottom: 0;
  }
}

.di_img-wrapper {
  @media screen and (max-width: 720px) {
    width: 200px;
    height: auto;
    svg {
      width: 200px;
      height: auto;
    }
  }
  @media screen and (max-width: 600px) {
    margin: auto;
    margin-bottom: 24px;
  }
}

.alerting .di_img-wrapper {
  @media screen and (max-width: 770px) {
    width: 200px;
    height: auto;
    svg {
      width: 200px;
      height: auto;
    }
  }
}

.multiple-cluster .di_img-wrapper, .multi-region-deployments .di_img-wrapper {
  @media screen and (max-width: 720px) {
    width: 160px;
    height: auto;
    svg {
      width: 160px;
      height: auto;
    }
  }
}

.di_text_left {
  margin-left: 60px;
  li {
    margin-bottom: 24px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 600px) {
    list-style: none;
    margin-left: 0;
    li {
      margin-top: 24px;
    }
    .display-on-mobile {
      display: block;
    }
  }
}

p.di_text_left {
  @media screen and (max-width: 600px) {
    text-align: center;
  }
}

.di_text_right {
  margin-right: 48px;
  li {
    margin-bottom: 24px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 720px) {
    margin-right: 24px;
  }
  @media screen and (max-width: 600px) {
    list-style: none;
    margin-right: 0;
    li {
      margin-top: 24px;
    }
    .display-on-mobile {
      display: block;
    }
  }
}

.sublist {
  margin-top: 12px;
  margin-left: 48px;
  li {
    font-weight: 300;
    font-size: 18px;
  }
  @media screen and (max-width: 600px) {
    list-style: none;
    margin-left: 0;
  }
}

.sub-sublist {
  margin-top: 24px;
  li {
    font-weight: 100;
    font-size: 16px;
  }
}

/**
 * blog page
 */
.blog {
  background-color: $light-blue-bg;
  // .section {
  //   padding-top: 120px;
  //   padding-bottom: 120px;
  // }
}

.post-list {
  list-style: none;
  margin-left: 0;
  li {
    border: 2px solid $blue;
    border-left: 80px solid $blue;
    margin-bottom: 60px;
    background-color: white;
    padding: 48px 60px 24px;
    position: relative;
    .post-keywords {
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    @media screen and (max-width: 600px) {
      border-left: 2px solid $blue;
      border-top: 60px solid $blue;
      padding: 48px 24px;
      .meta-wrap {
        padding: 24px 0;
      }
    }
  }
}

.post-date {
  // font-family: $serif-font-family;
  font-size: 18px;
  @media screen and (max-width: 720px) {
    font-size: 16px;
  }
  @media screen and (max-width: 600px) {
    margin-bottom: 48px;
  }
}

.post-title {
  clear: right;
  font-size: 30px;
  line-height: 42px;
  color: $blue;
  margin-bottom: 6px;
  @media screen and (max-width: 720px) {
    font-size: $header-tablet-font-size;
  }
  @media screen and (max-width: 600px) {
    font-size: $header-mobile-font-size;
    line-height: 32px;
  }
}
a.post-link:hover {
  color: $blue-hover;
}

.post-author {
  font-size: 18px;
  color: #9B9B9B;
  margin-top: 24px;
}

.post-excerpt {
  font-family: $serif-font-family;
  font-size: 18px;
  padding: 24px 0;
  border-top: 1px solid #99B6F2;
  @media screen and (max-width: 720px) {
    font-size: 16px;
  }
  @media screen and (max-width: 600px) {
    text-align: left;
  }
}

.post-keywords {
  font-size: 18px;
  color: #9B9B9B;
  margin-bottom: 80px;
  @media screen and (max-width: 600px) {
    margin-bottom: 48px;
  }
}

.read-more {
  padding-bottom: 24px;
  font-size: 16px;
}
/**
//  * Post
//  */
.post {
  background-color: $light-blue-bg;

  .post-title {
    font-size: 42px;
    line-height: 54px;
    @media screen and (max-width: 720px) {
      font-size: $header-tablet-font-size;
      line-height: 42px;
    }
    @media screen and (max-width: 600px) {
      font-size: $header-mobile-font-size;
      line-height: 32px;
    }
  }
}

.post-content > * {
  margin-bottom: 24px;
  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.post-wrap {
  max-width: 1080px;
  width: 100%;
  padding: 72px 0;
  margin: auto;
  @media screen and (max-width: 1080px) {
    padding: 72px 60px;
  }
  @media screen and (max-width: 600px) {
    padding: 60px 24px;
  }

}
.post-container {
  border: 2px solid $blue;
  background-color: white;
  padding: 120px;
  @media screen and (max-width: 1080px) {
    padding: 120px 60px;
  }
  @media screen and (max-width: 800px) {
    padding: 60px 60px;
  }
  @media screen and (max-width: 600px) {
    padding: 48px 20px;
  }
}

.post-header {
  border-bottom: 1px solid $light-blue;
  @media screen and (max-width: 600px) {
    border-bottom: 0;
  }
}

.meta-wrap {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  .post-author {
    margin-top: 0;
  }
  @media screen and (max-width: 800px) {
    display: block;
  }

  @media screen and (max-width: 600px) {
    padding: 0;
  }

  time {
     font-size: 18px;
  }
}

.post-content {
  padding-top: 48px;

  .post-keywords {
    margin-bottom: 0;
    margin-top: 60px;
    padding-top: 24px;
    font-family: $base-font-family;
    font-size: 18px;
    border-top: 1px solid $light-blue;
    // @media screen and (max-width: 800px) {
    //   padding: 12px 0;
    // }
  }
  @media screen and (max-width: 600px) {
    padding-top: 24px
  }
  li {
    margin-left: 24px;
  }
  p, li {
    font-family: $serif-font-family;
    font-size: 18px;
    line-height: 30px;
    @media screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 28px;
    }
  }
  img {
    height: auto;
  }
  a {
    transition: color .4s ease;
    &:hover {
      color: $blue-hover;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  a, .no-next, .no-previous, .page_number {
    font-size: 18px;
    color: $text-color;
    width: 97px;
    &.view-all {
      text-align: center;
    }
    &.next {
      text-align: right;
    }
    transition: color .4s ease;
  }
  a:hover {
    color: $blue;
  }
}

/**
 * thank you
 */

.thank-you {
  min-height: calc(100vh - 120px);
  position: relative;
  .section {
    position: absolute;
    max-width: 800px;
    width: 60%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}